# Database
PG_USER=RecipeAdmin
PG_PASSWORD=RecipeBookPasswordChangeMe # This should be changed to be unique


# S3 / RustFS
# The S3 endpoint is the public endpoint and
# can be set to an AWS S3 Bucket if desired
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=recipe-images
S3_KEY=rustfsadmin
S3_SECRET=rustfsadmin