/* if button is disabled, gray out the button */
button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

/* if button not disabled, change cursor to pointer */
button:not(:disabled) {
  cursor: pointer;
}

/* add spacing for form inputs */
input {
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  margin: 10px;
}
